doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="./record.sass", rel="stylesheet")
    link(rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css")
    title PiggyPal | aboutus
  body
    h1 Sign Up
    form#signup
      |username: 
      input(type="text", name="name")
      br
      |ID:
      input(type="text", name="id")
      br
      |password:
      input(type="text", name="password")
      br
      button(type="submit") sign up
    #signup-output
    br
    br
    h1 Login
    form#login
      |ID:
      input(type="text", name="id")
      br
      |password:
      input(type="text", name="pw")
      br
      button(type="submit") login
    #login-output
    br
    
    h1 Record
    button(type="submit", id="Display") Record
    br
    br
    form#record
      div
        |options:
        button(type="submit", id="expend") expend
        button(type="submit", id="income") income
      br
      div
        |品項:
        input(type="text", name="items")
      br
      div
        |花費:
        input(type="text", name="cost", id="spend")
      br
      div
        |日期:
        input(type="text", name="date", id="da")
      br
      button(type="submit", id="save") Save
      br
      br
      
    div#keyboard
      button(type="submit", id="one") 1
      button(type="submit", id="two") 2
      button(type="submit", id="three") 3
      br
      button(type="submit", id="four") 4
      button(type="submit", id="five") 5
      button(type="submit", id="six") 6
      br
      button(type="submit", id="seven") 7
      button(type="submit", id="eight") 8
      button(type="submit", id="nine") 9  
      br
      button(type="submit", id="zero") 0
    button(type="submit", id="backspace") delete   
    button(type="submit", id="ok") OK 
    
  
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js")
  script(src="./record.js")