doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="./signup.sass", rel="stylesheet")
    title PiggyPal | Login
  body
  
    #Login
      img(src = "./image/login/main_image.png", height = "25.246%")
      #login-form
        h1 Login
        form#login
          .box
            img(src = "./image/login/icon_email.png", height = "100%")
            input(type="text", name="id", placeholder = "E-mail")
          .box
            img(src = "./image/login/icon_password.png", height = "100%")
            input(type="text", name="pw", placeholder = "Password")
          .forget
            p Forget password?
          button(type="submit")
            img(src = "./image/login/btn_Login.png" height = "100%")
      .other_choice
        img(src="./image/login/line_OrLogWith.png", height = "10%")
        .icon 
          img(src = "./image/login/icon_fb.png", height = "100%")
          img(src = "./image/login/icon_google.png", height = "100%")
          img(src = "./image/login/icon_twitter.png", height = "100%")
        #login-output
          p Don't have an account? &nbsp;
          p#change-to-signup Sign Up.
    
    #SignUp
      img(src = "./image/signup/main_image.png", height = "24.87%")
      #signup-form
        h1 Sign Up
        form#signup
          .box
            img(src = "./image/signup/icon_username.png", height = "100%")
            input(type="text", name="name", placeholder = "User Name")
          .box
            img(src = "./image/signup/icon_email.png", height = "100%")
            input(type="text", name="id", placeholder = "E-mail")
          .box
            img(src = "./image/signup/icon_password.png", height = "100%")
            input(type="text", name="password", placeholder = "Password")
          .check
            input(type='checkbox', name='check') 
            label I read and agree to terms and condition.
          button(type="submit")
            img(src = "./image/signup/btn_SignUp.png" height = "100%")
      .other_choice
        img(src="./image/signup/line_OrConnectWith.png", height = "9%")
        .icon 
          img(src = "./image/signup/icon_fb.png", height = "100%")
          img(src = "./image/signup/icon_google.png", height = "100%")
          img(src = "./image/signup/icon_twitter.png", height = "100%")
        #signup-output
          p Already had an account? &nbsp; 
          p#change-to-login Login.


    #main
      #mainpage
        h1 MainPage
        img(src = "./image/MainPage/MainPage_personal.png", height = "5.911%")
      #account
        h1 account
      #accounting 
        .bar
          img(src = "./image/btn/btn_arrow_back.png", height = "2.8325%")
          p 記帳
        #everyday_earn
          img(src = "./image/Accounting/box_SelectDate.png", height = "30.10752688%")
          #today_earn
            p 本日損益
            p +1920
            img(src = "./image/Accounting/btn_add.png", height = "19.355%")
        .list
          p 收入
          p 工讀
          p 薪水
          p 支出
          p 早餐
          p 飲料點心
          p 交通
      #add_deals
        .bar
          img(src = "./image/btn/btn_arrow_back.png", height = "2.8325%")
          p 新增交易
        #type
          p 儲蓄
          p 收入
          p 支出
          p 轉帳
        form#fin
          .box
            input(type = "text", name = "item", value = "2021.09.27")
          .box
            input(type = "text", name = "item", value = "0")
          .box
            p 分類
            input(type = "text", name = "date", value = "食品酒水")
          .box
            p 帳戶
            input(type = "text", name = "money", value = "現金")
          .box
            p 備註
            input(type = "text", name = "repeat", value = "")
          button(type="submit")
            img(src = "./image/btn/btn_save.png" height = "100%")

      #barcode
        h1 Barcode 
      #project
        h1 Project
      
      #personal_page
        .bar
          img(src = "./image/btn/btn_arrow_back.png", height = "2.8325%")
          p 個人資料
        #photo_and_name
          img(src="./image/PersonalPage/Personal_userPic.png", height = "74%")
          p USER
        #financial_setting
          p 財務設定
          .list 
            li
              p 固定收入
              img(src="./image/btn/btn_arrow_right.png", height = "15px")
            li
              p 固定支出
              img(src="./image/btn/btn_arrow_right.png", height = "15px")
            li
              p 固定儲蓄
              img(src="./image/btn/btn_arrow_right.png", height = "15px")
        #account_setting
          p 帳號設定
          .list 
            li
              p 更改密碼
            li
              p 登出
            li
              p 刪除所有數據
            li
              p 更改密碼
      #financial_setting_page
        .bar
          img(src = "./image/btn/btn_arrow_back.png", height = "2.8325%")
          p 固定收入
        
      #navbar
        img(src="./image/navbar/unselect/barcode_unselect.png", height = "77.647%")
        img(src="./image/navbar/unselect/account_unselect.png", height = "77.647%")
        img(src="./image/navbar/selected/mainpage_select.png", height = "77.647%")
        img(src="./image/navbar/unselect/accounting_unselect.png", height = "77.647%")
        img(src="./image/navbar/unselect/project_unselect.png", height = "77.647%")

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="./signup.js")
  script(src="./personal.js")