<!-- <!DOCTYPE html> 
<html lang="en">
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data"> 
        <input type="file" name="image">
        <input type="submit" id = "image_summit">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="./signup.js"></script>
<script src="./personal.js"></script>
<script src="./mainpage.js"></script>
<script src="./dailymoney.js"></script>
<script src="./module.js"></script>
<script src="./record.js"></script>
<script src="./project.js"></script>
<script src="./accounting.js"></script>
<script src="./mainpage.js"></script>
<script src="./personal_pic.js"></script>

    
</html> -->
